

<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İLETİŞİM</h2>
        <label>Ad ve Soyad</label>
        <input type="text" class="form-control" name="NameAndSurname"/>
        <br />

        <label>E-Mail</label>
        <input type="text" class="form-control" name="EMail"/>
        <br />

        <label>Konu</label>
        <input type="text" class="form-control" name="Subject"/>
        <br />

        <label>Mesaj</label>
        <input type="text" class="form-control" name="Message"/>
        <br />

        <button class="btn btn-primary">Mesaj Gönder</button>
    </form>
</div>

