@model _41MY_MVCWebSiteCV.Models.Entity.Tbl_Certificates
@{
    ViewBag.Title = "AddCertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Sertifika Ekleme Sayfası</h2>
<br />
<form method="post">
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })   
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
